<h2> I AMA Homepage</h2>
<%= link_to "Add a link", new_link_path %>
<ul>
	<% @links.each do |link| %>
		<li><%= link_to link.title, link.url %></li>
		<%= link_to 'comments', link %>
	<%end%>
	<%= will_paginate @links %>
</ul>